body {
  padding: 0;
  overflow: hidden;
}


.MainPage {
  display: flex;  
  flex-flow: row wrap;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  animation: changeToNormal 1s normal;
}

.MainPageDark {
  background-color: #121212;
  animation: changeToDark 1s normal;
}

@keyframes changeToDark {
  from {
    background-color: #fff;
  }
  to {
    background-color: #121212;
  }
}

@keyframes changeToNormal {
  from {
    background-color: #121212;   
  }
  to {
    background-color: #fff;
  }
}


.header {
  display: none;
  flex: 100%;
  order: 1;
}


.mainArea {
  order: 3;
  flex: auto;
  width: 100%;
}

.footer {
  flex: 100%;
  order: 4;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.colorSwitcher {
  flex: 100%;
  order: 5;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html,
body {
  padding: 0;
  margin: 0px;
  overflow: hidden;
}
  .aside {
    flex: 100%;
    order: 1;
    height: 50px;
  }
  
  .mainArea {
    //border: 1px solid red;
    order: 2;
    flex: auto;
  }
  .header {
    //border: 1px solid green;
    flex: 100%;
    order: 3;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 10;
    background-color: white;
    width: 100%;
  }
}

/* small devices (tablets, 600px - 1500px) */
@media only screen and (min-width: 601px) and (max-width: 1500px) {
    .aside {
      flex: 0;
      order: 2;
    }
    
    .mainArea {
      //border: 1px solid red;
      order: 3;
      flex: none;
      width: 75%;
      margin: 30px 5vw;
      height: 75vh;
    }
    .header {
      //border: 1px solid green;
      flex: 100%;
      order: 1;
    }
}
