html,
body {
  padding: 0;
  margin: 10px 10px 10px 10px;
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  background-color: #222;
}
.header {
  background-color: green;
  flex: 100%;
  order: 1;
}

.MainPage {
  display: flex;  
  flex-flow: row wrap;
  text-align: center;
}

.aside {
  background: gold;
  order: 2;
}