html,
body {
  padding: 0;
  margin: 10px 10px 10px 10px;
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  background-color: #DBDBDB;
}

.MainPage {
  display: flex;  
  flex-flow: row wrap;
}


.header {
  //border: 1px solid green;
  flex: 100%;
  order: 1;
}

.aside {
  //border: 1px solid gold;
  flex: 0;
  order: 2;
}

.mainArea {
  //border: 1px solid red;
  order: 3;
  flex: auto;
}

.footer {
  //border: 1px solid blue;
  flex: 100%;
  order: 4;
}