$font-family-base: Courier, monospace;

.imprintOuterBox {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    background-color: #464646;
    display: flex;
    flex-flow: row wrap;
}

.imprintHeadline{
    order: 1;
    flex: 100%;
    text-align: center;
    font-family: $font-family-base;
    color: #ffff;
    margin-top: 40px;
    font-size: 40px;
}

.imprintTextbox{
    order: 2;
    flex: 100% 1;
    font-family: $font-family-base;
    color: #ffff;
    font-size: 20px;
    position: absolute;
    top: 130px;
    left: 5%;
    width: 90%;
    height: 70%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 661px) {
    .imprintOuterBox {
        position: fixed;
        width: 100%;
        height: auto;
        left: 0px;
        top: 60px;
        bottom: 90px;
        background-color: #464646;
        display: flex;
        flex-flow: row wrap;
    }
    .imprintHeadline{
        order: 1;
        flex: 100%;
        text-align: center;
        font-family: $font-family-base;
        color: #ffff;
        margin-top: 20px;
        font-size: 30px;
    }
    
    .imprintTextbox{
        order: 2;
        flex: 100% 1;
        font-family: $font-family-base;
        color: #ffff;
        font-size: 5vw;
        position: absolute;
        top: 80px;
        left: 2%;
        width: 94%;
        height: 58vh;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) and (max-height:700px) {
    .imprintTextbox{
        height: 55vh;
    }
}