@import url('//fonts.googleapis.com/css?family=Chivo&display=swap');

$font-family-base: 'Chivo', serif;

.projectOuterBox {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    background-color: #464646;
}

/**
* Carousel Styling
**/

.carousel-indicators li {
    width: 20px;
    height: 20px;
}

/**
* Project Box & Wrapping
**/

.projectBoxWrapper {
    margin-top: 20px;
    height: 500px;
}

.innerProjectBox {
    margin: 0 auto;
    width: 80%;
    height: 500px;
    background-color: #353535;
}

.innerProjectWrapper{
    display: flex;
    flex-flow: row wrap;
}


/**
* Project Box Content
**/

.projectHeadline{
    order: 1;
    flex: 100%;
    text-align: center;
    font-family: $font-family-base;
    color: #ffff;
    font-size: 50px;
    margin-top: 25px;
}

.projectStatus{
    order: 2;
    flex: 100%;
    text-align: center;
    font-family: $font-family-base;
    color: #ffff;
    font-size: 30px;
    margin-top: 5px;
}

.online {
    color: #00B652;
}

.inwork {
    color: #FAFF76;
}


.iconURL {
    height: 55px;
}

.projectURLs {
    order: 2;
    flex: 50%;
}

.projectURLs p {
    font-family: $font-family-base;
    color: #ffff;
    font-size: 30px;
    display: inline;
    margin-left: 25px;
    vertical-align: middle;
}
.projectURLs p:hover {
    cursor: pointer;
    font-size: 32px;
}

.projectURLs img{
    display: inline;
    vertical-align: middle;
}

.projectDemoURLs {
    order: 1;
    flex: 100%;
    text-align: center;
    margin-top: 55px;
}

.projectRepoURLs {
    order: 2;
    flex: 100%;
    text-align: center;
    margin-top: 45px;
}

.projectTechnologies {
    order: 2;
    flex: 50%;
    font-family: $font-family-base;
    color: #ffff;
    font-size: 30px;
    margin-top: 40px;
}

.projectTechnologyList {
    width: fit-content;
    margin: 25px auto;
}

.projectTechnologyList p{
    text-align: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-top: 14px;
}

