$font-family-base: Courier, monospace;

.projectOuterBox {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    background-color: #464646;
}

/**
* Carousel Styling
**/

.carousel-indicators li {
    width: 20px;
    height: 20px;
}

/**
* Project Box & Wrapping
**/

.projectBoxWrapper {
    margin-top: 20px;
    min-height: 530px;
    height: 53vh;
}

.innerProjectBox {
    margin: 0 auto;
    width: 80%;
    min-height: 530px;
    height: 53vh;
    background-color: #353535;
}

.innerProjectWrapper{
    display: flex;
    flex-flow: row wrap;
}


/**
* Project Box Content
**/

.projectHeadline{
    order: 1;
    flex: 100%;
    text-align: center;
    font-family: $font-family-base;
    color: #ffff;
    font-size: 50px;
    margin-top: 25px;
}

.projectStatus{
    order: 2;
    flex: 100%;
    text-align: center;
    font-family: $font-family-base;
    color: #ffff;
    font-size: 30px;
    margin-top: 5px;
}

.online {
    color: #00B652;
}

.inwork {
    color: #FAFF76;
}


.iconURL {
    height: 55px;
}

.projectURLs {
    order: 2;
    flex: 50%;
}

.projectURLs p {
    font-family: $font-family-base;
    color: #ffff;
    font-size: 30px;
    display: inline;
    margin-left: 25px;
    vertical-align: middle;
}
.projectURLs p:hover {
    cursor: pointer;
    font-size: 32px;
}

.projectURLs img{
    display: inline;
    vertical-align: middle;
}

.projectDemoURLs {
    order: 1;
    flex: 100%;
    text-align: center;
    margin-top: 55px;
}

.projectRepoURLs {
    order: 2;
    flex: 100%;
    text-align: center;
    margin-top: 45px;
}

.projectTechnologies {
    order: 2;
    flex: 50%;
    font-family: $font-family-base;
    color: #ffff;
    font-size: 30px;
    margin-top: 40px;
}

.projectTechnologyList {
    width: fit-content;
    margin: 25px auto;
}

.projectTechnologyList p{
    text-align: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.projectPictures {
    order: 2;
    flex: 50%;
    font-family: $font-family-base;
    color: #ffff;
    font-size: 30px;
    margin-top: 40px;
}

.projectPictures p{
 font-size: 20px;
 display: inline-block;
 vertical-align: middle;
 margin: 0px;
 margin-right: 20px;
}


.projectPreviewPicture {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 100px;
    display: inline-block;
   vertical-align: middle;
  }
  
  .projectPreviewPicture:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .projectPictureModal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .projectPicture {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1000px;
  }
  
  /* Caption of Modal Image */
  .projectPictureCaption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-family: $font-family-base;
  }
  
  /* Add Animation */
  .projectPicture, .projectPictureCaption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .projectPictureClose {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .projectPictureClose:hover,
  .projectPictureClose:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .projectPicture {
      width: 100%;
    }
  }

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .projectOuterBox {
      position: fixed;
      width: 100%;
      height: auto;
      left: 0px;
      top: 60px;
      bottom: 90px;
      background-color: #464646;
  }
  .projectBoxWrapper {
      margin-top: 0px;
      height: 100%;
  }
  .innerProjectBox {
      margin: 0 auto;
      width: 90%;
      height: 72vh;
      background-color: #353535;
  }
  .projectHeadline{
      font-size: 25px;
      margin-top: 5px;
  }
  .projectStatus{
      font-size: 20px;
      margin-top: 5px;
  }
  .projectURLs {
      order: 2;
      flex: 100%;
  }
  .projectURLs p {
      font-size: 20px;
      margin-left: 25px;
      vertical-align: middle;
  }
  .projectURLs p:hover {
      cursor: pointer;
      font-size: 20px;
  }
  .projectURLs img{
      vertical-align: middle;
      height: 40px;
  }
  .projectDemoURLs {
      margin-top: 25px;
  } 
  .projectRepoURLs {
      margin-top: 20px;
  }
  .projectTechnologies {
    order: 2;
    flex: 100%;
    color: #ffff;
    font-size: 15px;
    margin-top: -5px;
  }
  .carousel-indicators li {
    width: 15px;
    height: 15px;
    margin-bottom: -20px;
  }
  .projectPictures {
    order: 2;
    flex: 50%;
    font-size: 10px;
    margin-top: 0px;
}

.projectPictures p{
 font-size: 15px;
 display: inline-block;
 vertical-align: middle;
 margin: 0px;
 margin-right: 5px;
}


.projectPreviewPicture {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 80px;
    display: inline-block;
   vertical-align: middle;
  }


}

@media only screen and (max-width: 600px) and (min-height: 700px) {
  .innerProjectBox {
    height: 77vh;
}
}


/* small devices (tablets, 600px - 1500px) */
@media only screen and (min-width: 601px) and (max-width: 1500px) {
    .projectBoxWrapper {
      margin-top: 0px;
      height: 100%;
    }
    .innerProjectBox {
      margin: 0 auto;
      width: 90%;
      height: 65vh;
      background-color: #353535;
    }
    .projectHeadline{
      font-size: 4.5vh;
      margin-top: 10px;
    }
    .projectStatus{
      font-size: 3vh;
      margin-top: 5px;
    }
    .projectURLs {
      order: 2;
      flex: 100%;
    }
    .projectURLs p {
      font-size: 2.5vh;
      margin-left: 25px;
      vertical-align: middle;
    }
    .projectURLs p:hover {
      cursor: pointer;
      font-size: 2.5vh;
    }
    .projectURLs img{
      vertical-align: middle;
      height: 40px;
    }
    .projectDemoURLs {
      margin-top: 25px;
    } 
    .projectRepoURLs {
      margin-top: 20px;
    }
    .projectTechnologies {
    order: 2;
    flex: 100%;
    color: #ffff;
    font-size: 2.5vh;
    margin-top: 1vh;
    }
    .carousel-indicators li {
    width: 15px;
    height: 15px;
    margin-bottom: -20px;
    }
    .projectPictures {
    order: 2;
    flex: 50%;
    font-size: 10px;
    margin-top: 0px;
    }

    .projectPictures p{
    font-size: 2.2vh;
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    margin-right: 5px;
    }

     
  /* Modal Content (image) */
  .projectPicture {
    margin: auto;
    display: block;
    width: 60%;
    max-width: 1000px;
  }


    .projectPreviewPicture {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 80px;
    display: inline-block;
    vertical-align: middle;
    }
}