$font-family-base: Courier, monospace;


.homeIcon {
    float: center;
    height: 75px;
    position: relative;
    margin-bottom: 4vh;
    margin-right: 3.5vh;
    margin-left: 3.5vh;
    filter: invert(0%);
}

.homeIconSelected {
  -webkit-mask-image: radial-gradient(circle at 50% 50%, black 60%, rgba(0, 0, 0, 0.45) 65%);
  mask-image: radial-gradient(circle at 50% 50%, black 60%, rgba(0, 0, 0, 0.45) 65%);
  animation: selectionAnimation 0.2s normal;
}

.homeIconDarkMode {
  filter: invert(100%);
}

@keyframes selectionAnimation {
  0% {
    -webkit-mask-image: radial-gradient(circle at 50% 50%, black 60%, rgba(0, 0, 0, 0.3) 95%);
    mask-image: radial-gradient(circle at 50% 50%, black 60%, rgba(0, 0, 0, 0.3) 95%);
  }
  12% {
    -webkit-mask-image: radial-gradient(circle at 50% 50%, black 60%, rgba(0, 0, 0, 0.3) 91%);
    mask-image: radial-gradient(circle at 50% 50%, black 60%, rgba(0, 0, 0, 0.3) 91%);
  }
  25% {
    -webkit-mask-image: radial-gradient(circle at 50% 50%, black 60%, rgba(0, 0, 0, 0.3) 87%);
    mask-image: radial-gradient(circle at 50% 50%, black 60%, rgba(0, 0, 0, 0.3) 87%);
  }
  37% {
    -webkit-mask-image: radial-gradient(circle at 50% 50%, black 60%, rgba(0, 0, 0, 0.3) 82%);
    mask-image: radial-gradient(circle at 50% 50%, black 60%, rgba(0, 0, 0, 0.3) 82%);
  }
  50% {
    -webkit-mask-image: radial-gradient(circle at 50% 50%, black 60%, rgba(0, 0, 0, 0.3) 78%);
    mask-image: radial-gradient(circle at 50% 50%, black 60%, rgba(0, 0, 0, 0.3) 78%);
  }
  62% {
    -webkit-mask-image: radial-gradient(circle at 50% 50%, black 60%, rgba(0, 0, 0, 0.35) 74%);
    mask-image: radial-gradient(circle at 50% 50%, black 60%, rgba(0, 0, 0, 0.35) 74%);
  }
  75% {
    -webkit-mask-image: radial-gradient(circle at 50% 50%, black 60%, rgba(0, 0, 0, 0.4) 70%);
    mask-image: radial-gradient(circle at 50% 50%, black 60%, rgba(0, 0, 0, 0.4) 70%);
  }
  87% {
    -webkit-mask-image: radial-gradient(circle at 50% 50%, black 60%, rgba(0, 0, 0, 0.45) 67%);
    mask-image: radial-gradient(circle at 50% 50%, black 60%, rgba(0, 0, 0, 0.45) 67%);
  }
  92% {
    -webkit-mask-image: radial-gradient(circle at 50% 50%, black 60%, rgba(0, 0, 0, 0.5) 65%);
    mask-image: radial-gradient(circle at 50% 50%, black 60%, rgba(0, 0, 0, 0.5) 65%);
  }
  96% {
    -webkit-mask-image: radial-gradient(circle at 50% 50%, black 60%, rgba(0, 0, 0, 0.55) 63%);
    mask-image: radial-gradient(circle at 50% 50%, black 60%, rgba(0, 0, 0, 0.55) 63%);
  }
  100% {
    -webkit-mask-image: radial-gradient(circle at 50% 50%, black 60%, rgba(0, 0, 0, 0.6) 62%);
    mask-image: radial-gradient(circle at 50% 50%, black 60%, rgba(0, 0, 0, 0.6) 62%);
  }
}

.homeIcon:hover {
  cursor: pointer;
}

.navIcon {
    float: center;
    height: 75px;
    margin-bottom: 4vh;
    margin-left: 1vw;
    filter: invert(0%);
}

.navIcon:hover {
  cursor: pointer;
}

.navIconSelected {
  -webkit-mask-image: radial-gradient(circle at 50% 50%, black 60%, rgba(0, 0, 0, 0.45) 65%);
  mask-image: radial-gradient(circle at 50% 50%, black 60%, rgba(0, 0, 0, 0.45) 65%);
  animation: selectionAnimation 0.2s normal;
}

.navIconDarkMode {
  filter: invert(100%);
}


.tooltipNavIcons {
    position: relative;
    display: inline-block;
  }
  
.tooltipNavIcons .tooltiptext {
  font-family: $font-family-base;
  visibility: hidden;
  width: 130px;
  background-color: #222222;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -50%;
  left: -12px;
  @media only screen and (min-width: 1650px) {
    left: -10px;
  }
  @media only screen and (min-width: 1750px) {
    left: -8px;
  }
  @media only screen and (min-width: 1950px) {
    left: -4px;
  }
}



.tooltipNavIcons .tooltiptextDarkMode {
  background-color: #fff;
  color: #222222;
}

.tooltipNavIcons:hover .tooltiptext {
  visibility: visible;
}

.hideImprintText {
  display: none !important;
}
.showImprintText {
  display: none;
}

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 661px) {
  .tooltipNavIcons .tooltiptext{
    display:none;
  }
  .homeIcon {
    float: left;
    height: 60px;
    position: relative;
    margin-left: 10px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
    -webkit-mask-image: radial-gradient(circle at 50% 50%, black 62%, rgba(0, 0, 0, 0.7) 66%);
    mask-image: radial-gradient(circle at 50% 50%, black 62%, rgba(0, 0, 0, 0.7) 66%);
  }

  .hideImprint {
    display: none !important;
  }

  .showImprintText {
    position: fixed;
    display: block;
    left: 20px;
    top: 19px;
    font-family: $font-family-base;
    cursor: pointer;
  }

  .ImprintTextDarkMode {
    color: #fff;
  }

  .tooltipNavIcons {
    position: relative;
    display: block;

  }

  .navIcon {
      float: left;
      height: 60px;
      margin-left: 10px;
      margin-right: 0px;
      margin-bottom: 5px;
      margin-top: 5px;
      -webkit-mask-image: radial-gradient(circle at 50% 50%, black 62%, rgba(0, 0, 0, 0.7) 66%);
      mask-image: radial-gradient(circle at 50% 50%, black 62%, rgba(0, 0, 0, 0.7) 66%);
  }
  .positionAnimationHomeNav {
    display:none;
  }
}

/* small devices (tablets, 600px - 1500px) */
@media only screen and (min-width: 662px) and (max-width: 1500px) {
  .tooltipNavIcons .tooltiptext{
    display:none;
  }
}