@import url('//fonts.googleapis.com/css?family=Chivo&display=swap');

$font-family-base: 'Chivo', serif;

.iconSocial {
    float: center;
    height: 75px;
    margin-bottom: 2vh;
    margin-right: 1vw;
}
.iconSocial:hover {
  cursor: pointer; 
}

.tooltipSocial {
    position: relative;
    display: inline-block;
  }
  
  .tooltipSocial .tooltiptextSocial {
    font-family: $font-family-base;
    visibility: hidden;
    width: 130px;
    background-color: #222222;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -56%;
    left: -28px;
  }
  
  .tooltipSocial:hover .tooltiptextSocial {
    visibility: visible;
  }


  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .iconSocial {
    float: left;
    height: 40px;
    margin-top: 5px;
    margin-left: 10px;
}
  .tooltipSocial .tooltiptextSocial{
    display: none;
  }
}

/* small devices (tablets, 600px - 1500px) */
@media only screen and (min-width: 601px) and (max-width: 1500px) {
  .tooltipSocial .tooltiptextSocial {
    display: none;
  }
}